* {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main_width {
  width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid red;
}

header, article, footer {
    width: 100%;
}

header {
  height: 200px;
}

.serieA {
  background: url("../images/seriea.png");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  float: left;
}

.top {
  height: 200px;
}
